<% content_for :title, "Job listings" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Job listings</h1>
    <%= link_to "New job listing", new_pages_job_listing_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="job_listings" class="divide-y divide-gray-200">
    <%= render partial: 'job_listings/job_listing', collection: @job_listings, as: :job_listing, locals: { show_actions: true } %>
  </div>

  <%= render 'job_listings/empty_state' if @job_listings.empty? %>
</div>
